/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  max-height: auto;
}
footer {
    padding-top: 0 !important;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

section {
    display: inline-block !important;
}
nav {
	background-color: #c3362b;
  text-align: center;
}
.navbar-brand{
  font-size: 26px !important;
}
.mainTitle {
    margin: 2% 0;
}
main.container {
    max-height: 100%;
}
.hidden {
  display: none !important;
}
.heightHidden {
  height: 0;
}

/*===========================================================

    Restaurant List Styles

===========================================================*/

.restaurantCard {
    padding: 0.5%;
    float: left;
    display: block;
    margin: 0.5%;
    max-width: 32.3% !important;
}
.restaurantCard .card-title span {
    text-transform: capitalize;
}
/*===========================================================

    Restaurant Details Card Styles

===========================================================*/

.restaurantDetails {margin: 2% 0;}

.detailBottom {
    border-top: solid 1px #ccc;
    margin-top: 2%;
    padding-top: 2%;
}

.restaurantTitle {
    padding: 0 !important;
}
