/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/

html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  max-height: auto;
  box-sizing: inherit;
  display: inline-block;
  width: 100%;
}
footer {
    padding-top: 0 !important;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    background-color: #c3362b !important;
    text-align: center;
}

section {
    display: inline-block !important;
}
nav {
  background-color: #c3362b;
  text-align: center;
}
.navbar-brand{
  font-size: 26px !important;
  margin-bottom: 0 !important;
}
.navbar-brand img {
    width: 60px;
    margin-right: 1rem;
}
main.container {
    max-height: 100%;
    display: block;
}
.hidden {
  display: none !important;
}
.heightHidden {
  height: 0;  
}
.btn {
    background-color: #c3362b !important;
    border-color: #c3362b !important;
}
#scrollToTop {
    margin-bottom: 3rem;
}
/*===========================================================

    Restaurant List Styles

===========================================================*/

.restaurantCard {
    padding: 0 0.5%;
    float: left;
    display: block;
    margin: 0.5%;
    max-width: 32.3% !important;
    text-align: center;
}
.restaurantCard .card-title span {
    text-transform: capitalize;
}
.bottom {
    padding-top: 1rem;
    border-top: solid 1px #000;
}
.restaurantCard img{
  margin-top: 1rem;
}
.restaurantOpen {
    float: right;
    margin: 0 !important;
    background-color: #c3362b !important;
    border-color: #9c2920 !important;
    margin-top: 9px !important;
}
.restaurantPrice {
    margin-top: 6px !important;
    display: block;
    float: left;
    font-weight: bold;
    font-size: 18px;
}
.restaurantPrice small {
    font-style: italic !important;
}
p.card-text {
     overflow: hidden;
     text-overflow: ellipsis;
     max-height: 48px;
     margin: 0.5rem 0 1.5rem!important;
}

p.card-text::after { 
    content: "...";
}
button.btn:hover, button.btn:active {
    cursor: pointer;
    background-color: #0275d8 !important;
}
.mask {
    margin: 1rem 0 !important;
}
/*===========================================================

    Restaurant Details Card Styles

===========================================================*/

.restaurantDetails {margin: 2rem 0;}
.reviewContainer section {
    padding: 0 !important;
}

.detailBottom {
    border-top: solid 1px #ccc;
    margin-top: 2%;
    padding-top: 0.8rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 1%;
}
.restaurantDetails img {
    padding: 1rem 1rem 0;
}
.restaurantTitle {
    padding: 0 !important;
}
.restaurantDetails h1 span {
    text-transform: capitalize;
}
.restaurantDetails h1 {
    text-align: center;
    margin: 1rem 0;
}

.restaurantDetails .card-block {
    padding-top: 0;
    padding-bottom: 0 !important;
}
.starRating {
    text-align: center;
}
.restaurantDetails .restaurantDescription {
    margin: 1rem 0 2rem;
}
.restaurantDetails .restaurantPrice {
    font-size: 20px;
}
.detailBottom .btn {
    float: right;
    border-color: #731e17;
    background-color: #c3362b;
}
.restaurantDetails .card-block {}

.detailBottom.first {
    padding: 1rem 0 0rem;
}
.restaurantHours {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.restaurantAddress {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 20px;
}
.return div {
    position: initial !important;
    opacity: 1 !important;
    visibility: visible !important;
}
/*===========================================================

    Restaurant Intro Styles

===========================================================*/

.intro {
    margin: 2% 0.5%;
    text-transform: none !important;
    text-align: center;
    padding: 0 !important;
    width: 99% !important;
}
.intro h1 span{
    text-transform: none !important;
}
.intro h3{
    margin: 1rem;
}
#searchBar {padding: 0;
::-webkit-input-placeholder;
    text-align: center;
}
#searchBar::-webkit-input-placeholder {
    text-align: center;
}
#searchBar:-moz-placeholder { /* Firefox 18- */
    text-align: center; 
}

#searchBar::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

#searchBar:-ms-input-placeholder {  
    text-align: center;  
}
.search-bar {
    padding: 0 2rem !important;
    margin-bottom: 0.5rem !important;
}
select:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.selectFilter {
    float: left;
}
/*===========================================================

    Restaurant Detail Reviews Styles

===========================================================*/

.restaurantReview {
    margin: 1rem 0 0;
    padding: 2rem 0 0;
    display: block;
    border-top: solid 1px #ccc;
}
#postContent {
    padding-top: 2rem !important;
}
.userDetails {
    display: block;
    float: left;
    text-align: center;
}
.userDetails img{
    width: 100px;
    float: none;
    margin: auto;
}
.userDetails span {
    width: 100%;
    display: block;
}
.reviewDetails {
    float: left;
    display: block;
}
.reviewContainer h2 {
    text-align: center;
}

.reviewContainer {
    margin-top: 1rem;
    border-top: solid 1px #ccc;
    padding-top: 1rem;
}

/*===========================================================

    Restaurant Detail Post review Styles

===========================================================*/

select {
    float: left;
    padding: 3%;
}

.textArea input {
    margin: 1% 0;
}
.postReview {
    border-top: solid 1px #ccc;
    padding: 2rem 0px 0 !important;
    margin: 2rem 0 0;
    max-height: 600px;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: auto;
}
.postReview.hidden{
  max-height: 0;
  height: 0;
      -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.postReview button {
    margin: 0.5rem 0;
}
/*===========================================================

    Responsive Styles

===========================================================*/
@media screen and (max-width: 768px){
span.restaurantPrice {
    width: 100%;
}

.restaurantOpen {
    width: 100%;
}
.navbar-brand span {
    display: none;
}

.navbar-brand img {
    margin: 3px 0;
}

.card {
    margin-top: 2rem;
}
#scrollToTop {
    width: 30px !important;
    margin-right: -30px !important;
    margin-bottom: 0.6rem !important;
}
}
@media screen and (max-width: 1024px){
  .restaurantCard{
    max-width: 100% !important;
    width: 100% !important;
  }
  small {
    display: block;
}
  .restaurantCard img{
    float:none;
    display: block;
    margin: 1rem auto;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
  .starContainer .rsr-container {
    display: block;
    text-align: center;
  }
  span.reviewComment {
    text-align: center !important;
  }
  .detailBottom span {
      width: 100%;
      text-align: center;
  }
  .detailBottom button {
    margin: 1rem auto;
    float: none;
    display: block;
    width: 100%;
    padding: 1rem;
  }
    .postReview button {
      margin: 1rem auto;
      float: none;
      display: block;
      width: 100%;
      padding: 1rem;
  }
  span.restaurantPrice {
      margin: 2rem 0 1rem;
  }
  .restaurantDetails section.col-md-12 {
      padding: 0;
  }
  .restaurantDetails {
    padding: 0;
    margin: 2rem 0;
  }
  nav.navbar.navbar-fixed-top.navbar-dark {
    margin: 0 !important;
    padding: 0;
}
#scrollToTop {
    width: 47px;
    margin-right: -28px;
    margin-bottom: 0.6rem;
}
}